10. Demonstrate how multiple regression can be applied on continous data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Real estate.csv')
df = df.drop('No', axis=1)
df.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
x = df.drop('Y house price of unit area',axis= 1) 
y = df['Y house price of unit area']

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
pred = lr.predict(x_test)

In [6]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
print('mean_squared_error : ', mean_squared_error(y_test, pred)) 
print('mean_absolute_error : ', mean_absolute_error(y_test, pred))

mean_squared_error :  74.14066283559946
mean_absolute_error :  6.457701676458684